.dropdown-list {
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  li {
    list-style-type: none;
    button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      padding: 15px 20px;
      border: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      cursor: pointer;
      &:hover,
      &:focus {
        font-weight: bold;
        background-color: #ccc;
      }
    }
  }
}
